@use "../abstract/mixins" as *;

ul {
	list-style-type: none;

	input {
		margin-right: 0.6rem;
	}
}

#bottom-row {
	.arrow-container.bottom-left {
		@include arrow-container(left, 0, top, bottom, 150%, 2.5%);
		height: 400px;
		width: 600px;
	}

	.arrow-container.bottom-right {
		max-height: 60vh;
		width: 320px;
		@include arrow-container(right, 0, top, bottom, 150%, 91%);
	}

	#todo-content {
		padding: 0.5rem 0.1rem;
	}

	#todo-input {
		width: 100%;
	}

	.todo-text {
		width: 85%;
		overflow-wrap: break-word;
	}

	li {
		display: flex;
		align-items: center;
		margin: 0.5rem 0;
	}

	.remove-button {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		border-radius: 50px;
		margin-left: auto;
		padding: 0.1em;
		height: 20px;
		width: 20px;
	}

	.remove-button:hover {
		background-color: rgb(255, 255, 255, 0.4);
	}
}

.middle-container {
	.arrow-container.middle {
		justify-content: space-between;
		align-items: center;
		gap: 2rem;
		@include arrow-container(left, 24px, bottom, top, 115%, 13%);
	}

	.arrow-container.middle.select {
		@include arrow-container(left, 34px, bottom, top, 115%, 13%);
	}

	.arrow-container.middle.select:hover {
		background-color: rgba(0, 0, 0, 0.4);
	}

	.arrow-container.middle.focus {
		@include arrow-container(left, 15px, bottom, top, 118%, 13%);
	}
}

.svg-arrow-container {
	position: relative;

	> .select {
		cursor: pointer;
	}
}
