.middle-container {
	#name {
		background-color: transparent;
		border: 0;
		border-bottom: solid white 2px;
		outline: none;
		width: 1ch;
		margin-left: -18px;
		margin-right: -15px;
		transition: width ease-in-out 0.2s;
	}

	#name:read-only {
		border: 0;
		cursor: default;
	}
}

#middle-bottom-row {
	#focus-input:focus,
	#focus-input:active,
	#focus-input {
		background: transparent;
		border: 0;
		border-bottom: solid white 2px;
		outline: none;
	}

	.focus-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.focus-container.-hide {
		display: none;
	}

	h1 {
		cursor: default;
		padding-bottom: 0.5rem;
	}
}

#bottom-row {
	#todo-input {
		background-color: rgba(66, 67, 65, 0.5);
		border: 0;
		outline: none;
		padding: 0.2rem 0.5rem;
	}
}
