@use "../abstract/mixins" as *;

#main-container {
	height: 100vh;
	background: url(../img/background-1.jpg) no-repeat center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1.2rem 1.8rem;
	animation: fadein 0.6s;
}

#bottom-container {
	// border: solid red 1px;
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#top-row {
	display: flex;
	justify-content: flex-end;
	cursor: default;
}

#middle-row {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: default;
}

#middle-bottom-row {
	padding-bottom: 2vh;
}

#bottom-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

	p {
		// max-width: 33ch;
	}

	.toggle {
		cursor: pointer;
	}
}

.middle-container {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	align-content: center;
	width: 100%;

	#time,
	p,
	.focus-container,
	#quote {
		grid-column: 2 / 3;
	}

	> p {
		cursor: default;
		max-width: 75ch;
	}

	svg {
		margin-left: 4rem;
		cursor: pointer;
		visibility: hidden;
	}

	svg:hover {
		background: rgba(255, 255, 255, 0.4);
		border-radius: 50px;
	}
}
