@use "../abstract/mixins" as *;

body {
	background: url(../img/background-1.jpg) no-repeat center;
	background-size: cover;
	height: 100vh;
	animation: fadein 0.6s;
}

#ask-name-container {
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;

	&.-hide {
		display: none;
	}
}

#main-container {
	height: inherit;
	display: none;
	justify-content: center;
	padding: 1.2rem 1.8rem;
}

#bottom-container {
	width: 100%;
	align-self: flex-end;
	height: 65vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#middle-row {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: default;
}

#middle-bottom-row {
	padding-bottom: 2vh;
}

#bottom-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

	.toggle {
		cursor: pointer;
	}
}

.middle-container {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	align-content: center;
	width: 100%;

	&:nth-of-type(1) {
		margin-bottom: 2rem;
	}

	#time,
	p,
	.focus-container,
	#quote {
		grid-column: 2 / 3;
	}

	> p {
		cursor: default;
		max-width: 75ch;
	}

	svg {
		margin-left: 4rem;
		cursor: pointer;
		visibility: hidden;
	}

	svg:hover {
		background: rgba(255, 255, 255, 0.4);
		border-radius: 50px;
	}
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgb(94, 94, 95);
}
