@use "../abstract/mixins" as *;

#main-container .-show {
	visibility: visible;
}

#bottom-row .arrow-container.-open,
.svg-arrow-container > .arrow-container.middle.-open {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s, opacity 0.2s linear;
}

.checkbox {
	@include toggle-switch-checkbox;
}

.switch {
	@include toggle-switch-label;
}
