@use "../abstract/mixins" as *;

#main-container .-show {
	visibility: visible;
}

#bottom-row .arrow-container {
	&.-open {
		// opacity: 1;
		// transition: opacity 0.2s linear;
		display: block;
	}
}

.svg-arrow-container > .arrow-container.middle {
	&.-open {
		display: flex;
	}
}

.checkbox {
	@include toggle-switch-checkbox;
}

.switch {
	@include toggle-switch-label;
}
