html {
	font-size: 62.5%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro",
		"Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
}

.container {
	text-align: center;
}

#middle-row {
	#time {
		font-size: 1680%;
		line-height: 0.85;
	}

	#name {
		font-size: 5.4rem;
		color: white;
		text-align: center;
	}
}

#middle-bottom-row {
	> h1 {
		font-size: 3.6rem;
		font-weight: 300;
		text-align: center;
	}
	> #text {
		text-align: center;
		font-size: 3.6rem;
		color: white;
	}
}

#bottom-row {
	p {
		font-size: 1.8rem;
		line-height: 1.2;
	}

	> .toggle {
		font-size: 1.6rem;
		color: rgba(225, 225, 225, 0.85);
	}

	> .toggle:hover {
		color: white;
	}

	#todo-input {
		color: rgb(196, 196, 196);
		font-size: 1.6rem;
	}

	.todo-text {
		font-size: 1.6rem;
	}

	.remove-button {
		font-size: 1.4rem;
	}
}

.middle-container {
	> p {
		font-size: 5.4rem;
		text-align: center;
	}
}

.svg-arrow-container {
	> .arrow-container.middle {
		font-size: 1.5rem;
	}

	// > .arrow-container.middle.select > p {
	// 	font-size: 1.5rem;
	// }
}
