html {
	font-size: 62.5%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro",
		"Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	text-shadow: 0 1px 5px rgb(0 0 0 / 20%);
}

.container {
	text-align: center;
}

#middle-row {
	#time {
		font-size: 16.2rem;
		line-height: 0.8;
		letter-spacing: -5px;
	}

	#name {
		font-size: 5.4rem;
		color: white;
		text-align: center;
	}
}

#middle-bottom-row {
	h1#focus-question {
		font-size: 3.4rem;
		font-weight: 300;
		text-align: center;
	}
	#focus-input,
	#focus-text {
		text-align: center;
		font-size: 3.6rem;
		color: white;
	}
	h1#focus-now {
		font-size: 2.1rem;
		font-weight: 700;
		text-align: center;
	}
}

#bottom-row {
	p {
		font-size: 2rem;
		color: rgba(255, 255, 255, 0.85);
	}

	.toggle {
		font-size: 1.7rem;
		color: rgba(225, 225, 225, 0.85);
	}

	.toggle:hover {
		color: white;
	}

	#todo-input {
		color: rgb(196, 196, 196);
		font-size: 1.6rem;
	}

	.todo-text {
		font-size: 1.6rem;
	}

	.remove-button {
		font-size: 1.4rem;
	}

	#settings-nav {
		font-size: 1.8rem;
		color: rgba(225, 225, 225, 0.85);
	}

	#settings-nav span:hover {
		color: white;
	}

	#settings-general-list,
	#quote-list p {
		font-size: 1.6rem;
	}

	.settings-description {
		font-size: 1.4rem;
	}

	#quote-input {
		font-size: 1.6rem;
	}

	#quote-button {
		font-size: 1.5rem;
	}
}

.middle-container {
	> p {
		font-size: 5.4rem;
		text-align: center;
	}
}

.svg-arrow-container {
	.arrow-container.middle {
		font-size: 1.5rem;
	}
}
